/********* BODY & TEXT *********/

body {
    color: #fff;
    font-family: Source Sans Pro;
    text-align: center;
    font-weight: 300;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: Source Sans Pro;
    text-align: right;
    font-weight: 100;
    font-size: 19px;
    padding-top: 28px;
    padding-right: 5px;
    margin-bottom: 0px; 
}

h2 {
    margin-top: 12px;
    margin-bottom: 0px;
}

/********* GRID *********/

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, minmax(67px, auto));
    grid-template-rows: repeat(7, minmax(70px, auto));
    grid-template-areas:
    'logo logo header header header header'
    '. dynamic dynamic dynamic dynamic .'
    'left dynamic dynamic dynamic dynamic right'
    '. a b c d .'
    '. main main main main .'
    '. main main main main .'
    'footer footer footer footer footer footer';
}


/********* HEADER *********/

header {
    background-color: #ea7e6d;
    grid-area: header;
}

#logo {
    background-color: #ea7e6d;
    grid-area: logo;
}

#logo img {
    margin-top: 7px;
    margin-left: 5px;
    height: 55px;
    float: left;
}

/********* HEADER IMAGE *********/

#dynamic {
    grid-area: dynamic;
}

#dynamic img {
    height: 232px;
    align-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

button.left {
    background-color: transparent;
}

.left {
    grid-area: left;
}

button.right {
    background-color: transparent;
}

.right {
    grid-area: right;
}

/********* NAV *********/

button {
    background-color: #ea7e6d;
    color: #fff;
    border-radius: 30px;
    border: 0px;
    margin: 5px;
}

button img {
    height: 30px;
    align-content: center;
    margin: 0px;
}

.a {
    grid-area: a;
}

.b {
    grid-area: b;
}

.c {
    grid-area: c;
}

.d {
    grid-area: d;
}

/********* MAIN CONTENT *********/

main {
    background-color: #fff;
    color: #ea7e6d;
    grid-area: main;
}

/********* FOOTER *********/

footer {
    background-color: #ea7e6d;
    grid-area: footer;
    padding-top: 25px;
}